@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dewey Discover</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <br />
    <br />
    @*Welcome message to users*@
    <div class="text-center">
        <h1 class="display-4">Welcome to Dewey Discover</h1>
    </div>
    <br />
    <hr>
    @*Short description of website*@
    <blockquote class="blockquote text-center">
        <p class="mb-0">Play one of the three mini games we have to earn points and learn the Dewey Decimal system!</p>
    </blockquote>
    <hr>
</body>
</html>
