

body{
    min-height: 100vh;
}

.wrapper {
    padding: 25px;
    max-width: 460px;
    width:100%;
    border-radius:3px
}

    .wrapper .item {
        display: flex;
        padding: 12px 17px;
        color: #fff;
        background: #7c569d;
        margin-bottom: 8px;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
    }
    .wrapper .item .text{
        font-size:18px;
        font-weight: 400;
    }
    .wrapper .item i{
        font-size:18px;
        cursor: pointer;
    }