<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PROG7312.POE.web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PROG7312.POE.web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @*(Bootstrap, no date)*@

        <nav class="navbar navbar-expand-lg bg-primary navbar-fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DeweyDiscover</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @*(Bootstrap, no date)*@
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle show" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
                                Games
                            </a>
                            @*(Park, 2013)*@
                            <div class="dropdown-menu show" data-bs-popper="static">
                                <a class="dropdown-item" asp-area="" asp-controller="ReplaceBooks" asp-action="Index">Replace Books</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="IdentifyAreas" asp-action="Index">Identify Areas</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">Disbaled</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PROG7312.POE.web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<!-- Reference list
    Bootstrap. no date. Navbar. getbootstrap. Available at: https://getbootstrap.com/docs/5.3/components/navbar/ [Accessed 24 October 2023]
    Park, T. 2013. Journal. Bootswatch. Available at: https://bootswatch.com/journal/#top [Accessed 25 October 2023]

    -->
